.but{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div6{
   display: flex;
    //flex-direction: row;
    justify-content: center;
    //justify-content: space-between;

    align-items: center;
    background: #142b3b;
    border-radius: 5px;
    font-family: courier new;
    border: 7px ;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -5px;
    width: 7cm;
    height: 0.75cm;
     margin-left: 12px;
     margin-right: 12px;
}


.text{
   font-family: georgia, serif;

}
.font{
    font-family: georgia, serif;
    font-size: 20px;
}

.box{

height:auto;

}

.photo{
    height: 80vh;
width: 100%;
}